<h1>All users</h1>

<table>
  <tr>
    <th>Admins</th>
  </tr>
    <% @users.each do |user| %>
      <% if user.admin %>
        <tr>
          <td>
            <a href="<%= user_url(user) %>"><%= user %></a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tr>

  <tr>
    <th>Other</th>
    <% @users.each do |user| %>
      <% unless user.admin %>
        <tr>
          <td>
            <a href="<%= user_url(user) %>"><%= user %></a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tr>

</table>
<br>