<h1>All bands</h1>

<table>
    <% @bands.each do |band| %>
      <tr>
        <td>
          <a href="<%= band_url(band) %>"><%= band %></a>
        </td>
      </tr>
    <% end %>

</table>
<br>

<a href="<%= new_album_url %>">New band</a>
